{{ define "main" }}

<div class="columns">
	<div class="column is-offset-2 is-8">
		<h1 class="title is-2">
			{{ .Title }}
			<small>{{ .Date.Format "02/01/2006" }}</small>
		</h1>

		<div class="content is-medium">
			<blockquote>
				{{ .Summary }}
			</blockquote>
		</div>

		<hr>

		<!-- <div class="fork">
			<a class="button" href="{{ .Site.Params.github_content }}{{ .File.Path }}">
				<i class="fa fa-code-fork" aria-hidden="true"></i>
				Did you find a glitch or typo? Please fork me and correct me. Thanks.
				<i class="fa fa-github" aria-hidden="true"></i>
			</a>
		</div> -->
		<div class="content is-medium">
			{{ $body := replace .Content .Summary "" }}
			{{ $body | safeHTML }}
		</div>

		<div class="content is-medium fx-disqus	">
			<div id="disqus_thread" data-disqus-url="{{ .Permalink }}"></div>
		</div>
	</div>
</div>

<section class="post-related">
	<div class="row">
		{{ if .PrevInSection }}
		<article class="post-prev col-md-6 col-sm-6">
			<i>PŘEDCHOZÍ</i>
			<h2>
				<a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>
			</h2>
			<small>{{ .PrevInSection.Date.Format "02/01/2006" }}</small>
		</article>
		{{ end }}
		{{ if .NextInSection }}
		<article class="post-next col-md-6 col-sm-6">
			<i>NÁSLEDUJÍCÍ</i>
			<h2>
				<a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a>
			</h2>
			<small>{{ .NextInSection.Date.Format "02/01/2006" }}</small>
		</article>
		{{ end }}
	</div>
</section>

{{ partial "comments.html" }}

{{ end }}
